<configuration>
	<configSections>
		<section name="plugins" type="WeekPlanner.PluginSectionHandler, weekplanner"/>
	</configSections>

  <plugins>
    <plugin type="Royo.Plugins.Custom.EmailPlugin, CustomPlugin" />
    <plugin type="Royo.Plugins.Custom.EmailPlugin, CustomPlugin" />
  </plugins>
  <appSettings>
    <add key="CurrentTaskSet" value="default" />
  </appSettings>
</configuration>
