/*
 * Default Component Model for Component ${component_name}.     
 *
 */

using System;
using ComponentModel;

namespace ${prefix}${component_name}.Bo {
    [Component ("${component_name}", "${component_name}.Exceptions.${exception_manager_class_name}")]
    public sealed class ${component_name}ComponentModel : DefaultComponentModel {
${body} 
    }
}
