/*
 * Default Exception Manager for Component ${component_name}
 */

using System;
using ComponentModel.Interfaces;

namespace ${component_name}.Exceptions {
    public sealed class ${exception_manager_class_name} : IExceptionManager {
        public void ProcessException (Exception exception) {
        }
    }
}
