Source: chicken
Priority: optional
Maintainer: Sergio Rubio <sergio.rubio@hispalinux.es>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: libchicken
Section: libs
Architecture: powerpc i386 sparc s390
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Misc .Net/Mono components.
 .
 Desktop notification messages, notification bubbles,
 configuration helpers and many more. Nini framework
 (see http://nini.sf.net) is also included.
